[Desktop Entry]
Name=SIT Tagger
GenericName=Image Viewer
Comment=View and manage images
Exec=sit-tagger %f
Icon=sittagger
Type=Application
Terminal=false
# Startup notification disabled, since the remote -r switch may not open a new window...
StartupNotify=true
StartupWMClass=sit-tagger
Categories=Graphics;Viewer;
MimeType=image/bmp;image/x-bmp;image/x-MS-bmp;image/gif;image/x-icon;image/jpeg;image/png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-tga;image/tiff;image/x-xbitmap;image/x-xpixmap;image/svg;image/svg+xml;image/x-png;image/xpm;image/x-ico;
